node-red/data/node_modules/autana-jsonata-transform/examples/Static template.json
[
    {
        "id": "a339b3d450d687b0",
        "type": "tab",
        "label": "Static template example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7f1ec01a1c761263",
        "type": "inject",
        "z": "a339b3d450d687b0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"Frodo\",\"lastName\":\"Baggins\"}",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "5b46804c772ecb09"
            ]
        ]
    },
    {
        "id": "5b46804c772ecb09",
        "type": "com.autana.jsonata",
        "z": "a339b3d450d687b0",
        "name": "",
        "template": "payload.name & \" \" & payload.lastName",
        "templateType": "jsonata",
        "target": "payload",
        "targetType": "msg",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "2fa6d3024f45d754"
            ]
        ]
    },
    {
        "id": "2fa6d3024f45d754",
        "type": "debug",
        "z": "a339b3d450d687b0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "e9a593df6d669ea4",
        "type": "comment",
        "z": "a339b3d450d687b0",
        "name": "Static template",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    }
]
